/* ==========================================================================
   CUSTOM
   ========================================================================== */

/*
   Custom styles for author avatar
   ========================================================================== */

/*
 * 仅覆盖 .author__avatar img 的样式，增大头像图片的大小
 */
.author__avatar img {
  max-width: 200px; /* 您想要的新尺寸，例如 200px */
  width: 200px;
  height: 200px;

  // 如果您希望在大屏幕上也有一个固定的尺寸，可以添加以下代码
  @include breakpoint($large) {
    max-width: 200px; // 保持大屏幕下的尺寸一致
    width: 200px;
    height: 200px;
  }
}